<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
</head>
<body>
    <a href="/home">Homepage</a>
    <a href="#">Statistics</a><br><br>
    <div id="calendar"></div> 
    {%blockcontent%}{%endblock%}
    <script>
       
        $(document).ready(function(){
            var calender = $('#calendar').fullCalendar({
                header :{
                    left:'prev,next today',  
                    center:'title',
                    right:'month,agendaWeek'
                },
                title:"/calenderisi"
            
            });
        });
    </script>
</body>
</html>
