<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Selamat Datang</h1><br>
    <h2>Login</h2><br>
    <form method="post">
        <h3>login disini</h3>
        {% csrf_token %}
        <label for="uname">Username</label>
        <input type="text" id="uname" name="username"><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">login</button><br>
    </form>
    <p>Sudah punya akun?</p><a href="../">Register</a>
</body>
</html>