<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {%load humanize%}
  <p><a href="/logout">Log Out</a></p>
  <p><a href="/fund">Fund</a></p>
  <p><a href="/calender">Calendar</a><br>
  <p><a href="/chart">stats</a><br>
  <h1>Uang mu saat ini Rp.{{jumlahnya.Jumlah__sum|intcomma}},- </h1><h3>{{year}}</h3>
   <div style="position: relative; height:40vh; width:80vw">
    {% for x in data %}
      <div>
        <p>{{x.kategori}}</p>
        <p>{{x.Tanggal__month}}</p>
        <p>Rp.{{x.Jumlah|intcomma}},-</p>
        <p>{{x.Deskripsi}}</p>
        <p><a href="/delete/{{x.id }}">Delete</a></p>
        <p><a href="/fund/{{x.id}}">Edit</a>
      </div>
    {% endfor %}
    </div>
{% else %}
  <p>You are not logged in</p>
  <a href="/login">Log In</a>
{% endif %}
{% endblock %}
</body>
</html>